include ../components/_header
include ../components/_footer
include ../components/_sidebar

include ../components/_banner
include ../components/_docs
include ../components/_procedure
include ../components/_clients
include ../components/_advantages
include ../components/_reviews
include ../components/_news
include ../components/_faq
include ../components/_form-question
include ../components/_map

include ../components/_advantages-facts
include ../components/_russia-map

include ../components/_reglaments





