include ../components/_header.pug
include ../components/_footer.pug
include ../components/_sidebar.pug

include ../components/_banner.pug
include ../components/_docs.pug
include ../components/_procedure.pug
include ../components/_clients.pug
include ../components/_advantages.pug
include ../components/_reviews.pug
include ../components/_news.pug
include ../components/_faq.pug
include ../components/_form-question.pug
//- include ../components/_map

include ../components/_advantages-facts.pug
include ../components/_russia-map.pug

include ../components/_reglaments.pug





