extends partials/templates/_template.pug

block content
  +b.SECTION.page--front-page
    - var index = true

    // Banner
    +banner
    // Docs
    +docs()
    // Procedure
    +procedure()
    // Clients
    +clients('С нами уже работают те кто себя зарекомендовал')
    // Advantages
    +advantages()

    // Managers
    +b.SECTION.managers
      .container
        +e.H2.title C вами будут работать
        .row
          - for (var i = 0; i< 4; i++){
            +e.item.col-xs-6.col-md-3
              +b.manager
                +e.img
                  img(src="img/manager.jpg", alt="")
                +e.text
                  +e.name Наталья
                  +e.position менеджер
                  +e.A.icq(href= "http://www.icq.com/whitepages/cmd.php?uin=111222333&action=message") 111-222-333
                  +e.A.skype(href="skype:skype01") irina-irina
          - }
    // Reviews
    +reviews()
    // News
    +news()
    // Faq
    +faq()
    // Form question
    +form-question('Задайте вопрос по сертификации вашего продукта')
    // Map
    include partials/components/_map.pug


