extends partials/templates/_template.pug

block content
  +b.SECTION.page--about
    .container
      .row
        .col-xs-12.col-lg-9
          // Content about
          +b.SECTION.content-about(itemscope, itemtype="http://schema.org/Article")
            .container
              +e.H1.title(itemprop="headline") Севтест выбирают потому что:
              +e.text(itemprop="articleBody")
                p Обратиться к нашему эксперту и узнайть какой докуменtт вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой докуменtт вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой докуменtт вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой докуменtт вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой докуменtт вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой докуменtт вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
                p Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен.
            // Advantages facts
            +advantages-facts()
            +e.btn Остались вопросы?
              +b.btn(href="#", data-form="question") Обращайтесь
        .col-xs-12.col-lg-3
          // Sidebar
          +sidebar()

    // Procedure
    +procedure()
    // Russia map
    +russia-map()
    // Form question
    +form-question('Станьте нашим клиентом и мы приготовим лучшее предложение для Вас!')





