extends partials/templates/_template.pug

block content
  +b.SECTION.page--services.--services-branches
    - var pageServices = true

    .container
      .row
        .col-xs-12.col-xl-9
          // Content services
          +b.SECTION.content-services
            .container
              +e.H1.title Выберите услугу
              +e.text
                p Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен Обратиться к нашему эксперту и узнайть какой документ вам нужен

          // Services branches
          +b.SECTION.services--branches
            +e.H1.title По типу вашей отрасли:
            +e.UL.list
              li.menu-item
                a(href="#") Бытовая химия
                ul.sub-menu
                  li.menu-item
                    a(href="page.html") Сертификация ГОСТ Р
                  li.menu-item
                    a(href="page.html") Сертификат Таможенного Союза
                  li.menu-item
                    a(href="page.html") Сертификат соответствия
                  li.menu-item
                    a(href="page.html") Сертификат происхождения
                  li.menu-item
                    a(href="page.html") Сертификация пожарной безопасности
              li.menu-item
                a(href="#") Автомобильные запчасти
                ul.sub-menu
                  li.menu-item
                    a(href="page.html") Сертификация ГОСТ Р
                  li.menu-item
                    a(href="page.html") Сертификат Таможенного Союза
                  li.menu-item
                    a(href="page.html") Сертификат соответствия
                  li.menu-item
                    a(href="page.html") Сертификат происхождения
                  li.menu-item
                    a(href="page.html") Сертификация пожарной безопасности
              li.menu-item
                a(href="#") Алкоголь
                ul.sub-menu
                  li.menu-item
                    a(href="page.html") Сертификация ГОСТ Р
                  li.menu-item
                    a(href="page.html") Сертификат Таможенного Союза
                  li.menu-item
                    a(href="page.html") Сертификат соответствия
                  li.menu-item
                    a(href="page.html") Сертификат происхождения
                  li.menu-item
                    a(href="page.html") Сертификация пожарной безопасности
              li.menu-item
                a(href="#") Косметика, парфюмерия и гигиена
                ul.sub-menu
                  li.menu-item
                    a(href="page.html") Сертификация ГОСТ Р
                  li.menu-item
                    a(href="page.html") Сертификат Таможенного Союза
                  li.menu-item
                    a(href="page.html") Сертификат соответствия
                  li.menu-item
                    a(href="page.html") Сертификат происхождения
                  li.menu-item
                    a(href="page.html") Сертификация пожарной безопасности
              li.menu-item
                a(href="#") Техника
                ul.sub-menu
                  li.menu-item
                    a(href="page.html") Сертификация ГОСТ Р
                  li.menu-item
                    a(href="page.html") Сертификат Таможенного Союза
                  li.menu-item
                    a(href="page.html") Сертификат соответствия
                  li.menu-item
                    a(href="page.html") Сертификат происхождения
                  li.menu-item
                    a(href="page.html") Сертификация пожарной безопасности
              li.menu-item
                a(href="#") Оборудование
                ul.sub-menu
                  li.menu-item
                    a(href="page.html") Сертификация ГОСТ Р
                  li.menu-item
                    a(href="page.html") Сертификат Таможенного Союза
                  li.menu-item
                    a(href="page.html") Сертификат соответствия
                  li.menu-item
                    a(href="page.html") Сертификат происхождения
                  li.menu-item
                    a(href="page.html") Сертификация пожарной безопасности

        .col-xs-12.col-xl-3
          // Sidebar
          +sidebar()

    // Procedure
    +procedure()
    // Reglaments
    +reglaments()
    // Clients
    +clients('Наши партнеры')



