extends partials/templates/_template.pug

block content
  +b.SECTION.page--offers
    .container
      .row
        .col-xs-12.col-xl-9
          // Offers
          +b.SECTION.offers
            .container
              .row
                - for (var i = 0; i< 5; i++){
                  +b.offer-item.col-xs-12.col-md-6.col-xl-4
                    +e.inner
                      +e.H3.title Предложение 1
                      +e.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, velit quam impedit consectetur, fuga consequatur maiores voluptate quia qui corporis!
                        ul
                          li пункт1
                          li пункт2
                          li пункт3
                          li пункт4
                      +e.price скидка 12%
                      +b.btn(href="#", data-form="application") Оставить заявку
                - }
              +e.btn Скачать коммерческое предложение
                +b.btn(href="#") скачать

        .col-xs-12.col-xl-3
          // Sidebar
          +sidebar()

    // Clients
    +clients('Наши партнеры')





