extends partials/templates/_template.pug

block content
  +b.SECTION.page--reviews
    .container
      .row
        .col-xs-12.col-lg-9
          // Gratitude
          +b.SECTION.gratitude
            .container
              +e.H1.title Благодарственные письма
              +e.UL.pics.row
                +e.item.col-xs-12.col-lg-4
                  +e.img
                    img(src="img/doc.png", alt="")
                +e.item.col-xs-12.col-lg-4
                  +e.img
                    img(src="img/doc.png", alt="")
                +e.item.col-xs-12.col-lg-4
                  +e.img
                    img(src="img/doc.png", alt="")

              // MCC form review
              +b.reviews-form
                +e.inner
                  +e.H2.title Оставьте о нас отзыв
                  form#mcccform0.mcc-form(method='post', action='', enctype='multipart/form-data')
                    table
                      tbody
                        tr
                          td.mcc-label
                            div
                              | Ваша компания:
                              span.mcc-required *
                          td
                            input#mcc_comments_company.mcc-text(name='mcc_comments_company', maxlength='255', value='', type='text')
                        tr
                          td.mcc-label
                            div
                              | Ваш отзыв:
                              span.mcc-required *
                          td
                            textarea#mcc_comments_comment.mcc-text(name='mcc_comments_comment', cols='45', rows='5')
                        tr
                          td.mcc-label
                            div
                              | Контактный e-mail:
                              span.mcc-required *
                          td
                            input#mcc_comments_email.mcc-text(name='mcc_comments_email', maxlength='255', value='', type='text')
                        tr
                          td
                          td
                            #recaptcha1.recaptcha
                              div(style='width: 304px; height: 78px;')
                                div
                                  iframe(src='https://www.google.com/recaptcha/api2/anchor?k=6LeAaiYTAAAAADEv2Lz3Mb--6fmLFt97M9JIJ0xX&co=aHR0cDovL3Rlc3RzcGIucnU6ODA.&hl=ru&v=r20170228102020&size=normal&cb=pfrnyhc7yb61', title='виджет reCAPTCHA', width='304', height='78', frameborder='0', scrolling='no', name='undefined')
                        tr
                          td
                          td
                            input.mcc-submit(name='mcc_submit', value='Оставить отзыв', type='submit')

        .col-xs-12.col-lg-3
          // Sidebar
          +sidebar()

    // Reviews
    +reviews()
    // Russia map
    +russia-map()
    // Clients
    +clients('Наши партнеры')



