.btn{
  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: $text-white;
  background-color: $red;
  padding: 10px 20px;
  @include font-family('Helvetica Medium', normal, normal);
  margin: 0;
  @media (max-width: $screen-md){
    font-size: 0.8em;
  }

  &:hover, &:focus, &:active{
    color: $text-white;
    background-color: $dark-red;
    text-decoration: none;
  }

  &--white{
    color: #595c93;
    border: 1px solid #595c93;
    background-color: $white;
    &:hover, &:focus, &:active{
      background-color: rgba(#595c93, 0.2);
    }
  }
}

