.footer{
  background-color: $blue;
  color: $white;
  padding-top: 40px;
  padding-bottom: 30px;
  @media (max-width: $screen-xl){
    padding: 20px 0;
  }
}
.logo-footer{
  @media (max-width: $screen-xl){
    display: block;
    max-width: 140px;
    margin: 0 auto 20px;
  }
}
.footer-menus{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid $dark-blue;
}
.footer-nav{
  flex: 0 0 35%;
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    > .menu-item{
      margin: 10px 0;
      > a{
        color: $white;
        &:hover, &:focus{
          color: $link-color;
        }
      }
    }
  }
}
.footer-cert-menu{
  flex: 0 0 65%;
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    > .menu-item{
      margin: 10px 0;
      > a{
        color: $white;
        &:hover, &:focus{
          color: $link-color;
        }
      }
    }
  }
}
.footer-contacts{
  margin: 20px auto 30px;
  text-align: left;
  display: flex;
  color: $white;
  @include font-family('Helvetica Light', normal, normal);
  font-size: 16px;
  line-height: 1.555;
  a{
    color: $white;
    display: block;
  }
  &__column{
    flex: 0 0 50%;
  }
  &__name{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: 0;
      @include sprite($s-footer-pin);
    }
  }
  &__address{
    padding-left: 30px;
  }
  &__working-hours{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: 0;
      @include sprite($s-footer-time);
    }
  }
  &__tel{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: 0;
      @include sprite($s-footer-tel);
    }
  }
  &__email{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: 0;
      @include sprite($s-footer-mail);
    }
  }
}

.copyright{
  font-size: 12px;
  color: $white;
}
