.glossary{
  padding: 60px 0;
  @media (max-width: $screen-md){
    padding: 20px 0;
  }

  &__text{
    font-size: 16px;
  }
  &__letters{
    font-size: 18px;
    margin: 10px 0;
    a{
      text-transform: uppercase;
      color: $blue;
      @include font-family('Helvetica Roman', normal, normal);
      display: inline-block;
      padding: 3px;
      &:hover, &:focus {
        color: $link-color;
      }
    }
  }
  &__list{
    text-align: left;
    padding-left: 0;
    margin: 10px 0;
    list-style-type: none;
  }
  &__item{
    margin: 25px 0;
  }
  &__title{
    margin: 0;
    @include font-family('Helvetica Bold', normal, normal);
    font-size: 36px;
    line-height: 1;
    word-wrap: break-word;
    @media (max-width: $screen-md){
      font-size: 24px;
    }

    a{
      color: $blue;
    }
  }
}
