.managers{
  padding-top: 30px;
  background-color: $blue-bg;
  text-align: center;
  padding-bottom: 35px;
  &__title{
    position: relative;
    color: $blue;
    @include font-family('TT Lakes Medium', normal, normal);
    margin: 30px 0 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    @media (max-width: $screen-md){
      margin: 0 0 30px;
      font-size: 24px;
    }
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      background-color: $red;
      height: 1px;
      width: 170px;
    }
  }
  .manager__title{
    display: none;
  }
}



.manager{
  text-align: center;
  padding-top: 20px;
  // display: flex;
  flex-wrap: wrap;
  text-align: left;
  // @media (max-width: $screen-xl){
    display: inline-flex;
  // }

  &__title{
    flex: 0 0 100%;
    color: #595c93;
    @include font-family('TT Lakes Medium', normal, normal);
    margin: 0 0 20px;
    text-align: center;
    font-size: 22px;
    line-height: 2;
  }
  &__img{
    img{
      border-radius: 50%;
    }
  }
  &__text{
    @include font-family('TT Lakes Medium', normal, normal);
    padding: 0 20px;
    @media (max-width: $screen-md){
      padding: 20px 0;
    }
  }
  &__name{
    color: #333;
    font-size: 22px;
  }
  &__position{
    color: #9d9d9d;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__icq{
    display: block;
    color: #2aae54;
    line-height: (26/12);
    &:before{
      content: '';
      display: inline-block;
      margin-right: 5px;
      margin-bottom: -0.2em;
      @include sprite($s-manager-icq);
    }

    &:hover, &:focus{
      text-decoration: underline;
    }
  }
  &__skype{
    display: block;
    color: #00aff0;
    line-height: (26/12);
    &:before{
      content: '';
      display: inline-block;
      margin-right: 5px;
      margin-bottom: -0.2em;
      @include sprite($s-manager-skype);
    }

    &:hover, &:focus{
      text-decoration: underline;
    }
  }


}
