.map{
  padding-top: 40px;
  text-align: center;
  &__title{
    position: relative;
    color: $blue;
    @include font-family('TT Lakes Medium', normal, normal);
    margin: 10px 0 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    @media (max-width: $screen-md){
      margin: 0 0 30px;
      font-size: 24px;
    }
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      background-color: $red;
      height: 1px;
      width: 170px;
    }
  }
  &__frame{
    height: 430px;
    @media (max-width: $screen-md){
      height: 250px;
    }
  }
}
.map-city{
  width: 60%;
  margin: 0 auto 30px;
  text-align: left;
  display: flex;
  color: $blue;
  @include font-family('Helvetica Medium', normal, normal);
  font-size: 18px;
  line-height: 1.555;
  @media (max-width: $screen-md){
    width: 100%;
    flex-wrap: wrap;
  }

  a{
    color: $blue;
    display: block;
  }
  &__column{
    flex: 0 0 50%;
    @media (max-width: $screen-md){
      flex: 0 0 100%;
    }
  }
  &__name{
    position: relative;
    padding-left: 20px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include sprite($s-map-pin);
    }
  }
  &__address{
    padding-left: 20px;
  }
  &__working-hours{
    padding-left: 20px;
  }
  &__tel{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include sprite($s-map-tel);
    }
    &:nth-of-type(2){
      &:before{
        @include sprite($s-map-tel2);
      }
    }
  }
  &__email{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include sprite($s-map-email);
    }
  }
}

.pin{
  background-image: url(../img/contacts-pin.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 56px;
  height: 74px;
  transform: translateY(-50%);
  &--small{
    transform: scale(0.75);
  }
}
