.nav{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    @include font-family('TT Lakes Medium', normal, normal);
    font-size: $font-size-nav;

    @media (max-width: $screen-xl){
      display: none;
    }

    > .menu-item{
      flex: 1 1 auto;
      text-align: center;
      > a{
        display: block;
        color: $text-white;
        padding: 15px 15px;
        @media (max-width: $screen-xl){
          padding: 5px 15px;
        }

        &:hover, &:focus, &:active {
          background-color: $dark-blue;
          color: $link-color;
        }
      }
      &--search{
        flex: 0 0 auto;
        @media (max-width: $screen-xl){
          padding: 5px 0 10px;
        }

        a{
          padding: 0;
          margin: 15px 0;
          @include sprite($s-search-white);

          @media (max-width: $screen-xl){
            padding: 0;
            margin: 0 auto;
          }

          &:hover, &:focus, &:active {
            background-color: transparent;
          }
        }
      }
      &--services{
        position: relative;
        > .sub-menu{
          display: none;
          min-width: 220px;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 0;
          background-color: $white;
          border: 1px solid $blue;
          list-style-type: none;
          padding-left: 0;
          text-align: left;
          // padding: 0;
          > .menu-item{
            > a{
              padding: 10px;
              display: block;
              &:hover, &:focus{
                color: $white;
                background-color: $blue;
              }
            }
          }
        }
        &:hover, &:focus{
          > .sub-menu{
            display: block;
          }
        }
      }
    }
  }
  &__hamburger{
    display: none;
    text-align: center;
    @media (max-width: $screen-xl){
      display: block;
    }
  }
}

.search{
  display: none;
  &__bg{
    position: fixed;
    z-index: 8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #595c93;
    opacity: 0.3;
  }
  &__inner{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    border-top: 1px solid #595c93;
    border-bottom: 1px solid #595c93;
    @media (max-width: $screen-xl){
      height: 42px;
      top: auto;
      bottom: 0;
    }
  }
  &__form{
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 14px;
      right: 0;
      @include sprite($s-search-blue);
      @media (max-width: $screen-xl){
        top: 10px;
      }
    }
  }
  &__input{
    color: $blue;
    border: none;
    width: 100%;
    padding: 16px 0;
    @include font-family('Helvetica Bold', normal, normal);
    @media (max-width: $screen-xl){
      padding: 10px 0;
    }

    &::-webkit-input-placeholder{
      color: $blue;
    }
    &::placeholder{
      color: $blue;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;
    }
    &:focus::placeholder{
      color: transparent;
    }
  }
}

.hamburger{
  display: inline-block;
  padding: 17px 6px 13px;
  border-radius: 3px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 3px;
    background-color: $white;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $white;
    }
    &:before{
      transform: translateY(-9px);
    }
    &:after{
      transform: translateY(6px);
    }
  }
}
