.news{
  padding-top: 30px;
  text-align: center;
  background-color: $blue-bg2;
  padding-bottom: 40px;
  &__title{
    position: relative;
    color: $blue;
    @include font-family('TT Lakes Medium', normal, normal);
    margin: 10px 0 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    @media (max-width: $screen-md){
      margin: 0 0 30px;
      font-size: 24px;
    }
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      background-color: $red;
      height: 1px;
      width: 170px;
    }
  }
  &__btn{
    margin-top: 20px;
  }
  &__link{
    font-size: 20px;
    text-decoration: underline;
  }
}
.news-item{
  margin-bottom: 30px;
  &__date{
    @include font-family('TT Lakes Medium', normal, normal);
    font-size: 14px;
    position: relative;
    z-index: 2;
  }
  &__title{
    @include font-family('TT Lakes Medium', normal, normal);
    font-size: 18px;
    position: relative;
    z-index: 2;
    // color: $blue;
    margin: 10px 0;
    a{
      color: $blue;
    }
  }
  &__inner{
    text-align: left;
    padding: 10px;
  }
  &__text{
    position: relative;
    z-index: 2;
  }

  &:nth-of-type(2n){
    color: $white;
    .news-item__inner{
      position: relative;
      &:before{
        content: '';
        background: url(../img/news.png) center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      &:after{
        content: '';
        background-color: rgba($blue, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include transition();
      }

      &:hover, &:focus {
        &:after{
          background-color: rgba($blue, 0.5);
        }
      }
    }
    .news-item__title{
      // color: $white;
      a{
        color: $white;
      }
    }
  }
}

.other-news{
  padding-top: 40px;
  &__title{
    text-align: center;
    color: $blue;
    @include font-family('Helvetica Bold', normal, normal);
    margin: 10px 0 30px;
    font-size: 36px;
  }
  &__gallery{
    padding: 0 40px;
    .slick-arrow{
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      position: absolute;
      z-index: 1;
      top: 45%;
      @include sprite($s-arrow-next);
    }
    .slick-prev{
      left: 0;
      transform: rotate(180deg);
    }
    .slick-next{
      right: 0;
    }
  }

}
.other-news-item{
  &__inner{
    display: flex;
    @media (max-width: $screen-md){
      flex-wrap: wrap;
    }
  }
  &__img{
    flex: 0 0 350px;
    max-width: 350px;
    margin: 0 20px 20px 0;
    @media (max-width: $screen-xl){
      flex: 0 0 250px;
      max-width: 250px;
    }
    @media (max-width: $screen-md){
      flex: 0 0 100%;
      max-width: 100%;
    }

    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      box-shadow: 0 12px 27px 0px rgba(0, 0, 0, 0.11);
    }
  }
  &__text-wrapper{
    flex: 1 1 auto;
  }
  &__title{
    @include font-family('Helvetica Bold', normal, normal);
    margin: 10px 0 10px;
    font-size: 25px;
    a{
      color: $blue;
    }
  }
  &__date{
    @include font-family('TT Lakes Medium', normal, normal);
    font-size: 14px;
  }
}
