.procedure{
  padding-top: 40px;
  text-align: center;
  padding-bottom: 70px;
  &__title{
    position: relative;
    color: $blue;
    @include font-family('TT Lakes Medium', normal, normal);
    margin: 10px 0 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      background-color: $red;
      height: 1px;
      width: 170px;
    }
  }
  &__step{
    &:nth-of-type(1){
      .procedure__text:before{
        @include sprite($s-procedure-step1);
      }
      .procedure__text:after{
        @include sprite($s-procedure-next);
      }
    }
    &:nth-of-type(2){
      .procedure__text:before{
        @include sprite($s-procedure-step2);
      }
      .procedure__text:after{
        @include sprite($s-procedure-next);
      }
    }
    &:nth-of-type(3){
      .procedure__text:before{
        @include sprite($s-procedure-step3);
      }
      .procedure__text:after{
        @include sprite($s-procedure-next);
      }
    }
    &:nth-of-type(4){
      .procedure__text:before{
        @include sprite($s-procedure-step4);
      }
      .procedure__text:after{
        @include sprite($s-procedure-done);
      }
    }
  }
  &__text{
    @include font-family('Helvetica Light', normal, normal);
    position: relative;
    padding: 100px 30px 30px;
    margin-bottom: 20px;
    min-height: 200px;
    line-height: 1.5;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }
  &__link{
    margin-top: 40px;
  }
  .btn{
    padding: 15px 30px;
    letter-spacing: 0.1em;
  }
}
