.services{
  &__title{
    text-align: center;
    color: $blue;
    @include font-family('Helvetica Bold', normal, normal);
    margin: 10px 0 30px;
    font-size: 24px;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px;
    > .menu-item{
      margin: 0 15px 30px;
      flex: 0 0 calc(33.3333% - 30px);
      max-width: calc(33.3333% - 30px);
      box-shadow: $box-shadow;
      text-align: center;
      padding: 150px 5px 30px;
      position: relative;
      @include transition();
      @media (max-width: $screen-md){
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
      }

      > a{
        display: block;
        color: $blue;
        @include font-family('Helvetica Bold', normal, normal);
        // margin: 10px 0 10px;
        font-size: 24px;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          left: 50%;
          bottom: 100%;
          transform: translate(-50%, -20px);
        }
      }

      > .sub-menu{
        display: none;
        @include transition();
        text-align: left;
        list-style-type: none;
        margin-top: 10px;
        padding-left: 20px;
        // border: 1px solid #ccc;
        > .menu-item{
          &:before{
            content: '▸';
            display: inline-block;
            font-size: 1.3em;
            margin-right: 0.3em;
          }
          > a{
            color: $grey-text;
            &:hover, &:focus{
              color: $red;
            }
          }
        }
      }
      // &:hover, &:focus{
      //   > .sub-menu{
      //     // jQuery used
      //   }
      // }
    }
  }

  &--docs{
    .services__list{
      > .menu-item{
        &:nth-of-type(1){
          > a:before{
            @include sprite($s-services-doc1);
          }
        }
        &:nth-of-type(2){
          > a:before{
            @include sprite($s-services-doc2);
          }
        }
        &:nth-of-type(3){
          > a:before{
            @include sprite($s-services-doc3);
          }
        }
        &:nth-of-type(4){
          > a:before{
            @include sprite($s-services-doc4);
          }
        }
        &:nth-of-type(5){
          > a:before{
            @include sprite($s-services-doc5);
          }
        }
        &:nth-of-type(6){
          > a:before{
            @include sprite($s-services-doc6);
          }
        }
      }
    }
  }
  &--branches{
    .services__list{
      > .menu-item{
        &:nth-of-type(1){
          > a:before{
            @include sprite($s-services-branch1);
          }
        }
        &:nth-of-type(2){
          > a:before{
            @include sprite($s-services-branch2);
          }
        }
        &:nth-of-type(3){
          > a:before{
            @include sprite($s-services-branch3);
          }
        }
        &:nth-of-type(4){
          > a:before{
            @include sprite($s-services-branch4);
          }
        }
        &:nth-of-type(5){
          > a:before{
            @include sprite($s-services-branch5);
          }
        }
        &:nth-of-type(6){
          > a:before{
            @include sprite($s-services-branch6);
          }
        }
        &:nth-of-type(7){
          > a:before{
            @include sprite($s-services-branch7);
          }
        }
        &:nth-of-type(8){
          > a:before{
            @include sprite($s-services-branch8);
          }
        }
        &:nth-of-type(9){
          > a:before{
            @include sprite($s-services-branch9);
          }
        }
        &:nth-of-type(10){
          > a:before{
            @include sprite($s-services-branch10);
          }
        }
        &:nth-of-type(11){
          > a:before{
            @include sprite($s-services-branch11);
          }
        }
        &:nth-of-type(12){
          > a:before{
            @include sprite($s-services-branch12);
          }
        }
        &:nth-of-type(13){
          > a:before{
            @include sprite($s-services-branch13);
          }
        }
        &:nth-of-type(14){
          > a:before{
            @include sprite($s-services-branch14);
          }
        }
        &:nth-of-type(15){
          > a:before{
            @include sprite($s-services-branch15);
          }
        }
        &:nth-of-type(16){
          > a:before{
            @include sprite($s-services-branch16);
          }
        }
        &:nth-of-type(17){
          > a:before{
            @include sprite($s-services-branch17);
          }
        }
        &:nth-of-type(18){
          > a:before{
            @include sprite($s-services-branch18);
          }
        }
        &:nth-of-type(19){
          > a:before{
            @include sprite($s-services-branch19);
          }
        }
        // &:nth-of-type(20){
        //   > a:before{
        //     @include sprite($s-services-branch20);
        //   }
        // }
      }
    }
  }
}

.reglaments{
  padding: 40px 0;
  &__title{
    color: $blue;
    @include font-family('Helvetica Bold', normal, normal);
    margin: 10px 0 20px;
    font-size:24px;
  }
  &__text{
    height: 250px;
    // overflow-y: scroll;

    .mCSB_scrollTools .mCSB_draggerRail{
      width: 8px;
      background-color: #f4f4f4;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
      width: 10px;
      background-color: $red;
    }
  }
}



