.sidebar{
  padding: 60px 0 30px;
  @media (max-width: $screen-xl){
    padding: 20px 0;
    max-width: 300px;
    margin: 0 auto;
  }

  &--static{
    position: static;
  }
  &--sticky{
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: auto;
  }
  &--absolute{
    position: absolute;
    z-index: 1;
    top: auto;
    bottom: 0;
  }
}

.manager-section{
  text-align: center;
  &__link{
    display: block;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: underline;
  }
  .manager__text{
    @media (max-width: $screen-md){
      padding: 0 20px;
    }
  }
}
