// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-arrow-next-name: 's-arrow-next';
$s-arrow-next-x: 524px;
$s-arrow-next-y: 121px;
$s-arrow-next-offset-x: -524px;
$s-arrow-next-offset-y: -121px;
$s-arrow-next-width: 18px;
$s-arrow-next-height: 27px;
$s-arrow-next-total-width: 576px;
$s-arrow-next-total-height: 478px;
$s-arrow-next-image: '../img/png-sprite.png';
$s-arrow-next: (524px, 121px, -524px, -121px, 18px, 27px, 576px, 478px, '../img/png-sprite.png', 's-arrow-next', );
$s-footer-mail-name: 's-footer-mail';
$s-footer-mail-x: 546px;
$s-footer-mail-y: 247px;
$s-footer-mail-offset-x: -546px;
$s-footer-mail-offset-y: -247px;
$s-footer-mail-width: 19px;
$s-footer-mail-height: 11px;
$s-footer-mail-total-width: 576px;
$s-footer-mail-total-height: 478px;
$s-footer-mail-image: '../img/png-sprite.png';
$s-footer-mail: (546px, 247px, -546px, -247px, 19px, 11px, 576px, 478px, '../img/png-sprite.png', 's-footer-mail', );
$s-footer-pin-name: 's-footer-pin';
$s-footer-pin-x: 541px;
$s-footer-pin-y: 226px;
$s-footer-pin-offset-x: -541px;
$s-footer-pin-offset-y: -226px;
$s-footer-pin-width: 15px;
$s-footer-pin-height: 19px;
$s-footer-pin-total-width: 576px;
$s-footer-pin-total-height: 478px;
$s-footer-pin-image: '../img/png-sprite.png';
$s-footer-pin: (541px, 226px, -541px, -226px, 15px, 19px, 576px, 478px, '../img/png-sprite.png', 's-footer-pin', );
$s-footer-tel-name: 's-footer-tel';
$s-footer-tel-x: 544px;
$s-footer-tel-y: 207px;
$s-footer-tel-offset-x: -544px;
$s-footer-tel-offset-y: -207px;
$s-footer-tel-width: 17px;
$s-footer-tel-height: 17px;
$s-footer-tel-total-width: 576px;
$s-footer-tel-total-height: 478px;
$s-footer-tel-image: '../img/png-sprite.png';
$s-footer-tel: (544px, 207px, -544px, -207px, 17px, 17px, 576px, 478px, '../img/png-sprite.png', 's-footer-tel', );
$s-footer-time-name: 's-footer-time';
$s-footer-time-x: 546px;
$s-footer-time-y: 187px;
$s-footer-time-offset-x: -546px;
$s-footer-time-offset-y: -187px;
$s-footer-time-width: 20px;
$s-footer-time-height: 18px;
$s-footer-time-total-width: 576px;
$s-footer-time-total-height: 478px;
$s-footer-time-image: '../img/png-sprite.png';
$s-footer-time: (546px, 187px, -546px, -187px, 20px, 18px, 576px, 478px, '../img/png-sprite.png', 's-footer-time', );
$s-manager-icq-name: 's-manager-icq';
$s-manager-icq-x: 544px;
$s-manager-icq-y: 121px;
$s-manager-icq-offset-x: -544px;
$s-manager-icq-offset-y: -121px;
$s-manager-icq-width: 22px;
$s-manager-icq-height: 22px;
$s-manager-icq-total-width: 576px;
$s-manager-icq-total-height: 478px;
$s-manager-icq-image: '../img/png-sprite.png';
$s-manager-icq: (544px, 121px, -544px, -121px, 22px, 22px, 576px, 478px, '../img/png-sprite.png', 's-manager-icq', );
$s-manager-skype-name: 's-manager-skype';
$s-manager-skype-x: 547px;
$s-manager-skype-y: 166px;
$s-manager-skype-offset-x: -547px;
$s-manager-skype-offset-y: -166px;
$s-manager-skype-width: 20px;
$s-manager-skype-height: 19px;
$s-manager-skype-total-width: 576px;
$s-manager-skype-total-height: 478px;
$s-manager-skype-image: '../img/png-sprite.png';
$s-manager-skype: (547px, 166px, -547px, -166px, 20px, 19px, 576px, 478px, '../img/png-sprite.png', 's-manager-skype', );
$s-map-email-name: 's-map-email';
$s-map-email-x: 524px;
$s-map-email-y: 166px;
$s-map-email-offset-x: -524px;
$s-map-email-offset-y: -166px;
$s-map-email-width: 21px;
$s-map-email-height: 19px;
$s-map-email-total-width: 576px;
$s-map-email-total-height: 478px;
$s-map-email-image: '../img/png-sprite.png';
$s-map-email: (524px, 166px, -524px, -166px, 21px, 19px, 576px, 478px, '../img/png-sprite.png', 's-map-email', );
$s-map-pin-name: 's-map-pin';
$s-map-pin-x: 524px;
$s-map-pin-y: 226px;
$s-map-pin-offset-x: -524px;
$s-map-pin-offset-y: -226px;
$s-map-pin-width: 15px;
$s-map-pin-height: 19px;
$s-map-pin-total-width: 576px;
$s-map-pin-total-height: 478px;
$s-map-pin-image: '../img/png-sprite.png';
$s-map-pin: (524px, 226px, -524px, -226px, 15px, 19px, 576px, 478px, '../img/png-sprite.png', 's-map-pin', );
$s-map-tel-name: 's-map-tel';
$s-map-tel-x: 524px;
$s-map-tel-y: 207px;
$s-map-tel-offset-x: -524px;
$s-map-tel-offset-y: -207px;
$s-map-tel-width: 18px;
$s-map-tel-height: 17px;
$s-map-tel-total-width: 576px;
$s-map-tel-total-height: 478px;
$s-map-tel-image: '../img/png-sprite.png';
$s-map-tel: (524px, 207px, -524px, -207px, 18px, 17px, 576px, 478px, '../img/png-sprite.png', 's-map-tel', );
$s-map-tel2-name: 's-map-tel2';
$s-map-tel2-x: 552px;
$s-map-tel2-y: 74px;
$s-map-tel2-offset-x: -552px;
$s-map-tel2-offset-y: -74px;
$s-map-tel2-width: 21px;
$s-map-tel2-height: 20px;
$s-map-tel2-total-width: 576px;
$s-map-tel2-total-height: 478px;
$s-map-tel2-image: '../img/png-sprite.png';
$s-map-tel2: (552px, 74px, -552px, -74px, 21px, 20px, 576px, 478px, '../img/png-sprite.png', 's-map-tel2', );
$s-map-time-name: 's-map-time';
$s-map-time-x: 524px;
$s-map-time-y: 187px;
$s-map-time-offset-x: -524px;
$s-map-time-offset-y: -187px;
$s-map-time-width: 20px;
$s-map-time-height: 18px;
$s-map-time-total-width: 576px;
$s-map-time-total-height: 478px;
$s-map-time-image: '../img/png-sprite.png';
$s-map-time: (524px, 187px, -524px, -187px, 20px, 18px, 576px, 478px, '../img/png-sprite.png', 's-map-time', );
$s-procedure-done-name: 's-procedure-done';
$s-procedure-done-x: 524px;
$s-procedure-done-y: 74px;
$s-procedure-done-offset-x: -524px;
$s-procedure-done-offset-y: -74px;
$s-procedure-done-width: 26px;
$s-procedure-done-height: 20px;
$s-procedure-done-total-width: 576px;
$s-procedure-done-total-height: 478px;
$s-procedure-done-image: '../img/png-sprite.png';
$s-procedure-done: (524px, 74px, -524px, -74px, 26px, 20px, 576px, 478px, '../img/png-sprite.png', 's-procedure-done', );
$s-procedure-next-name: 's-procedure-next';
$s-procedure-next-x: 524px;
$s-procedure-next-y: 150px;
$s-procedure-next-offset-x: -524px;
$s-procedure-next-offset-y: -150px;
$s-procedure-next-width: 29px;
$s-procedure-next-height: 14px;
$s-procedure-next-total-width: 576px;
$s-procedure-next-total-height: 478px;
$s-procedure-next-image: '../img/png-sprite.png';
$s-procedure-next: (524px, 150px, -524px, -150px, 29px, 14px, 576px, 478px, '../img/png-sprite.png', 's-procedure-next', );
$s-procedure-step1-name: 's-procedure-step1';
$s-procedure-step1-x: 113px;
$s-procedure-step1-y: 0px;
$s-procedure-step1-offset-x: -113px;
$s-procedure-step1-offset-y: 0px;
$s-procedure-step1-width: 90px;
$s-procedure-step1-height: 90px;
$s-procedure-step1-total-width: 576px;
$s-procedure-step1-total-height: 478px;
$s-procedure-step1-image: '../img/png-sprite.png';
$s-procedure-step1: (113px, 0px, -113px, 0px, 90px, 90px, 576px, 478px, '../img/png-sprite.png', 's-procedure-step1', );
$s-procedure-step2-name: 's-procedure-step2';
$s-procedure-step2-x: 0px;
$s-procedure-step2-y: 343px;
$s-procedure-step2-offset-x: 0px;
$s-procedure-step2-offset-y: -343px;
$s-procedure-step2-width: 76px;
$s-procedure-step2-height: 69px;
$s-procedure-step2-total-width: 576px;
$s-procedure-step2-total-height: 478px;
$s-procedure-step2-image: '../img/png-sprite.png';
$s-procedure-step2: (0px, 343px, 0px, -343px, 76px, 69px, 576px, 478px, '../img/png-sprite.png', 's-procedure-step2', );
$s-procedure-step3-name: 's-procedure-step3';
$s-procedure-step3-x: 302px;
$s-procedure-step3-y: 0px;
$s-procedure-step3-offset-x: -302px;
$s-procedure-step3-offset-y: 0px;
$s-procedure-step3-width: 74px;
$s-procedure-step3-height: 80px;
$s-procedure-step3-total-width: 576px;
$s-procedure-step3-total-height: 478px;
$s-procedure-step3-image: '../img/png-sprite.png';
$s-procedure-step3: (302px, 0px, -302px, 0px, 74px, 80px, 576px, 478px, '../img/png-sprite.png', 's-procedure-step3', );
$s-procedure-step4-name: 's-procedure-step4';
$s-procedure-step4-x: 88px;
$s-procedure-step4-y: 111px;
$s-procedure-step4-offset-x: -88px;
$s-procedure-step4-offset-y: -111px;
$s-procedure-step4-width: 84px;
$s-procedure-step4-height: 87px;
$s-procedure-step4-total-width: 576px;
$s-procedure-step4-total-height: 478px;
$s-procedure-step4-image: '../img/png-sprite.png';
$s-procedure-step4: (88px, 111px, -88px, -111px, 84px, 87px, 576px, 478px, '../img/png-sprite.png', 's-procedure-step4', );
$s-search-blue-name: 's-search-blue';
$s-search-blue-x: 548px;
$s-search-blue-y: 96px;
$s-search-blue-offset-x: -548px;
$s-search-blue-offset-y: -96px;
$s-search-blue-width: 22px;
$s-search-blue-height: 23px;
$s-search-blue-total-width: 576px;
$s-search-blue-total-height: 478px;
$s-search-blue-image: '../img/png-sprite.png';
$s-search-blue: (548px, 96px, -548px, -96px, 22px, 23px, 576px, 478px, '../img/png-sprite.png', 's-search-blue', );
$s-search-white-name: 's-search-white';
$s-search-white-x: 524px;
$s-search-white-y: 96px;
$s-search-white-offset-x: -524px;
$s-search-white-offset-y: -96px;
$s-search-white-width: 22px;
$s-search-white-height: 23px;
$s-search-white-total-width: 576px;
$s-search-white-total-height: 478px;
$s-search-white-image: '../img/png-sprite.png';
$s-search-white: (524px, 96px, -524px, -96px, 22px, 23px, 576px, 478px, '../img/png-sprite.png', 's-search-white', );
$s-services-branch1-name: 's-services-branch1';
$s-services-branch1-x: 378px;
$s-services-branch1-y: 0px;
$s-services-branch1-offset-x: -378px;
$s-services-branch1-offset-y: 0px;
$s-services-branch1-width: 74px;
$s-services-branch1-height: 72px;
$s-services-branch1-total-width: 576px;
$s-services-branch1-total-height: 478px;
$s-services-branch1-image: '../img/png-sprite.png';
$s-services-branch1: (378px, 0px, -378px, 0px, 74px, 72px, 576px, 478px, '../img/png-sprite.png', 's-services-branch1', );
$s-services-branch10-name: 's-services-branch10';
$s-services-branch10-x: 83px;
$s-services-branch10-y: 200px;
$s-services-branch10-offset-x: -83px;
$s-services-branch10-offset-y: -200px;
$s-services-branch10-width: 84px;
$s-services-branch10-height: 71px;
$s-services-branch10-total-width: 576px;
$s-services-branch10-total-height: 478px;
$s-services-branch10-image: '../img/png-sprite.png';
$s-services-branch10: (83px, 200px, -83px, -200px, 84px, 71px, 576px, 478px, '../img/png-sprite.png', 's-services-branch10', );
$s-services-branch11-name: 's-services-branch11';
$s-services-branch11-x: 454px;
$s-services-branch11-y: 283px;
$s-services-branch11-offset-x: -454px;
$s-services-branch11-offset-y: -283px;
$s-services-branch11-width: 50px;
$s-services-branch11-height: 84px;
$s-services-branch11-total-width: 576px;
$s-services-branch11-total-height: 478px;
$s-services-branch11-image: '../img/png-sprite.png';
$s-services-branch11: (454px, 283px, -454px, -283px, 50px, 84px, 576px, 478px, '../img/png-sprite.png', 's-services-branch11', );
$s-services-branch12-name: 's-services-branch12';
$s-services-branch12-x: 454px;
$s-services-branch12-y: 0px;
$s-services-branch12-offset-x: -454px;
$s-services-branch12-offset-y: 0px;
$s-services-branch12-width: 68px;
$s-services-branch12-height: 71px;
$s-services-branch12-total-width: 576px;
$s-services-branch12-total-height: 478px;
$s-services-branch12-image: '../img/png-sprite.png';
$s-services-branch12: (454px, 0px, -454px, 0px, 68px, 71px, 576px, 478px, '../img/png-sprite.png', 's-services-branch12', );
$s-services-branch13-name: 's-services-branch13';
$s-services-branch13-x: 454px;
$s-services-branch13-y: 213px;
$s-services-branch13-offset-x: -454px;
$s-services-branch13-offset-y: -213px;
$s-services-branch13-width: 62px;
$s-services-branch13-height: 68px;
$s-services-branch13-total-width: 576px;
$s-services-branch13-total-height: 478px;
$s-services-branch13-image: '../img/png-sprite.png';
$s-services-branch13: (454px, 213px, -454px, -213px, 62px, 68px, 576px, 478px, '../img/png-sprite.png', 's-services-branch13', );
$s-services-branch14-name: 's-services-branch14';
$s-services-branch14-x: 156px;
$s-services-branch14-y: 276px;
$s-services-branch14-offset-x: -156px;
$s-services-branch14-offset-y: -276px;
$s-services-branch14-width: 79px;
$s-services-branch14-height: 51px;
$s-services-branch14-total-width: 576px;
$s-services-branch14-total-height: 478px;
$s-services-branch14-image: '../img/png-sprite.png';
$s-services-branch14: (156px, 276px, -156px, -276px, 79px, 51px, 576px, 478px, '../img/png-sprite.png', 's-services-branch14', );
$s-services-branch15-name: 's-services-branch15';
$s-services-branch15-x: 169px;
$s-services-branch15-y: 200px;
$s-services-branch15-offset-x: -169px;
$s-services-branch15-offset-y: -200px;
$s-services-branch15-width: 80px;
$s-services-branch15-height: 69px;
$s-services-branch15-total-width: 576px;
$s-services-branch15-total-height: 478px;
$s-services-branch15-image: '../img/png-sprite.png';
$s-services-branch15: (169px, 200px, -169px, -200px, 80px, 69px, 576px, 478px, '../img/png-sprite.png', 's-services-branch15', );
$s-services-branch16-name: 's-services-branch16';
$s-services-branch16-x: 378px;
$s-services-branch16-y: 238px;
$s-services-branch16-offset-x: -378px;
$s-services-branch16-offset-y: -238px;
$s-services-branch16-width: 67px;
$s-services-branch16-height: 73px;
$s-services-branch16-total-width: 576px;
$s-services-branch16-total-height: 478px;
$s-services-branch16-image: '../img/png-sprite.png';
$s-services-branch16: (378px, 238px, -378px, -238px, 67px, 73px, 576px, 478px, '../img/png-sprite.png', 's-services-branch16', );
$s-services-branch17-name: 's-services-branch17';
$s-services-branch17-x: 85px;
$s-services-branch17-y: 276px;
$s-services-branch17-offset-x: -85px;
$s-services-branch17-offset-y: -276px;
$s-services-branch17-width: 69px;
$s-services-branch17-height: 63px;
$s-services-branch17-total-width: 576px;
$s-services-branch17-total-height: 478px;
$s-services-branch17-image: '../img/png-sprite.png';
$s-services-branch17: (85px, 276px, -85px, -276px, 69px, 63px, 576px, 478px, '../img/png-sprite.png', 's-services-branch17', );
$s-services-branch18-name: 's-services-branch18';
$s-services-branch18-x: 524px;
$s-services-branch18-y: 0px;
$s-services-branch18-offset-x: -524px;
$s-services-branch18-offset-y: 0px;
$s-services-branch18-width: 52px;
$s-services-branch18-height: 72px;
$s-services-branch18-total-width: 576px;
$s-services-branch18-total-height: 478px;
$s-services-branch18-image: '../img/png-sprite.png';
$s-services-branch18: (524px, 0px, -524px, 0px, 52px, 72px, 576px, 478px, '../img/png-sprite.png', 's-services-branch18', );
$s-services-branch19-name: 's-services-branch19';
$s-services-branch19-x: 237px;
$s-services-branch19-y: 276px;
$s-services-branch19-offset-x: -237px;
$s-services-branch19-offset-y: -276px;
$s-services-branch19-width: 69px;
$s-services-branch19-height: 48px;
$s-services-branch19-total-width: 576px;
$s-services-branch19-total-height: 478px;
$s-services-branch19-image: '../img/png-sprite.png';
$s-services-branch19: (237px, 276px, -237px, -276px, 69px, 48px, 576px, 478px, '../img/png-sprite.png', 's-services-branch19', );
$s-services-branch2-name: 's-services-branch2';
$s-services-branch2-x: 0px;
$s-services-branch2-y: 276px;
$s-services-branch2-offset-x: 0px;
$s-services-branch2-offset-y: -276px;
$s-services-branch2-width: 83px;
$s-services-branch2-height: 65px;
$s-services-branch2-total-width: 576px;
$s-services-branch2-total-height: 478px;
$s-services-branch2-image: '../img/png-sprite.png';
$s-services-branch2: (0px, 276px, 0px, -276px, 83px, 65px, 576px, 478px, '../img/png-sprite.png', 's-services-branch2', );
$s-services-branch3-name: 's-services-branch3';
$s-services-branch3-x: 454px;
$s-services-branch3-y: 143px;
$s-services-branch3-offset-x: -454px;
$s-services-branch3-offset-y: -143px;
$s-services-branch3-width: 65px;
$s-services-branch3-height: 68px;
$s-services-branch3-total-width: 576px;
$s-services-branch3-total-height: 478px;
$s-services-branch3-image: '../img/png-sprite.png';
$s-services-branch3: (454px, 143px, -454px, -143px, 65px, 68px, 576px, 478px, '../img/png-sprite.png', 's-services-branch3', );
$s-services-branch4-name: 's-services-branch4';
$s-services-branch4-x: 454px;
$s-services-branch4-y: 73px;
$s-services-branch4-offset-x: -454px;
$s-services-branch4-offset-y: -73px;
$s-services-branch4-width: 68px;
$s-services-branch4-height: 68px;
$s-services-branch4-total-width: 576px;
$s-services-branch4-total-height: 478px;
$s-services-branch4-image: '../img/png-sprite.png';
$s-services-branch4: (454px, 73px, -454px, -73px, 68px, 68px, 576px, 478px, '../img/png-sprite.png', 's-services-branch4', );
$s-services-branch5-name: 's-services-branch5';
$s-services-branch5-x: 78px;
$s-services-branch5-y: 343px;
$s-services-branch5-offset-x: -78px;
$s-services-branch5-offset-y: -343px;
$s-services-branch5-width: 66px;
$s-services-branch5-height: 60px;
$s-services-branch5-total-width: 576px;
$s-services-branch5-total-height: 478px;
$s-services-branch5-image: '../img/png-sprite.png';
$s-services-branch5: (78px, 343px, -78px, -343px, 66px, 60px, 576px, 478px, '../img/png-sprite.png', 's-services-branch5', );
$s-services-branch6-name: 's-services-branch6';
$s-services-branch6-x: 0px;
$s-services-branch6-y: 200px;
$s-services-branch6-offset-x: 0px;
$s-services-branch6-offset-y: -200px;
$s-services-branch6-width: 81px;
$s-services-branch6-height: 74px;
$s-services-branch6-total-width: 576px;
$s-services-branch6-total-height: 478px;
$s-services-branch6-image: '../img/png-sprite.png';
$s-services-branch6: (0px, 200px, 0px, -200px, 81px, 74px, 576px, 478px, '../img/png-sprite.png', 's-services-branch6', );
$s-services-branch7-name: 's-services-branch7';
$s-services-branch7-x: 0px;
$s-services-branch7-y: 414px;
$s-services-branch7-offset-x: 0px;
$s-services-branch7-offset-y: -414px;
$s-services-branch7-width: 61px;
$s-services-branch7-height: 64px;
$s-services-branch7-total-width: 576px;
$s-services-branch7-total-height: 478px;
$s-services-branch7-image: '../img/png-sprite.png';
$s-services-branch7: (0px, 414px, 0px, -414px, 61px, 64px, 576px, 478px, '../img/png-sprite.png', 's-services-branch7', );
$s-services-branch8-name: 's-services-branch8';
$s-services-branch8-x: 378px;
$s-services-branch8-y: 154px;
$s-services-branch8-offset-x: -378px;
$s-services-branch8-offset-y: -154px;
$s-services-branch8-width: 60px;
$s-services-branch8-height: 82px;
$s-services-branch8-total-width: 576px;
$s-services-branch8-total-height: 478px;
$s-services-branch8-image: '../img/png-sprite.png';
$s-services-branch8: (378px, 154px, -378px, -154px, 60px, 82px, 576px, 478px, '../img/png-sprite.png', 's-services-branch8', );
$s-services-branch9-name: 's-services-branch9';
$s-services-branch9-x: 378px;
$s-services-branch9-y: 74px;
$s-services-branch9-offset-x: -378px;
$s-services-branch9-offset-y: -74px;
$s-services-branch9-width: 68px;
$s-services-branch9-height: 78px;
$s-services-branch9-total-width: 576px;
$s-services-branch9-total-height: 478px;
$s-services-branch9-image: '../img/png-sprite.png';
$s-services-branch9: (378px, 74px, -378px, -74px, 68px, 78px, 576px, 478px, '../img/png-sprite.png', 's-services-branch9', );
$s-services-doc1-name: 's-services-doc1';
$s-services-doc1-x: 0px;
$s-services-doc1-y: 111px;
$s-services-doc1-offset-x: 0px;
$s-services-doc1-offset-y: -111px;
$s-services-doc1-width: 86px;
$s-services-doc1-height: 87px;
$s-services-doc1-total-width: 576px;
$s-services-doc1-total-height: 478px;
$s-services-doc1-image: '../img/png-sprite.png';
$s-services-doc1: (0px, 111px, 0px, -111px, 86px, 87px, 576px, 478px, '../img/png-sprite.png', 's-services-doc1', );
$s-services-doc2-name: 's-services-doc2';
$s-services-doc2-x: 302px;
$s-services-doc2-y: 171px;
$s-services-doc2-offset-x: -302px;
$s-services-doc2-offset-y: -171px;
$s-services-doc2-width: 63px;
$s-services-doc2-height: 90px;
$s-services-doc2-total-width: 576px;
$s-services-doc2-total-height: 478px;
$s-services-doc2-image: '../img/png-sprite.png';
$s-services-doc2: (302px, 171px, -302px, -171px, 63px, 90px, 576px, 478px, '../img/png-sprite.png', 's-services-doc2', );
$s-services-doc3-name: 's-services-doc3';
$s-services-doc3-x: 0px;
$s-services-doc3-y: 0px;
$s-services-doc3-offset-x: 0px;
$s-services-doc3-offset-y: 0px;
$s-services-doc3-width: 111px;
$s-services-doc3-height: 109px;
$s-services-doc3-total-width: 576px;
$s-services-doc3-total-height: 478px;
$s-services-doc3-image: '../img/png-sprite.png';
$s-services-doc3: (0px, 0px, 0px, 0px, 111px, 109px, 576px, 478px, '../img/png-sprite.png', 's-services-doc3', );
$s-services-doc4-name: 's-services-doc4';
$s-services-doc4-x: 302px;
$s-services-doc4-y: 82px;
$s-services-doc4-offset-x: -302px;
$s-services-doc4-offset-y: -82px;
$s-services-doc4-width: 66px;
$s-services-doc4-height: 87px;
$s-services-doc4-total-width: 576px;
$s-services-doc4-total-height: 478px;
$s-services-doc4-image: '../img/png-sprite.png';
$s-services-doc4: (302px, 82px, -302px, -82px, 66px, 87px, 576px, 478px, '../img/png-sprite.png', 's-services-doc4', );
$s-services-doc5-name: 's-services-doc5';
$s-services-doc5-x: 205px;
$s-services-doc5-y: 77px;
$s-services-doc5-offset-x: -205px;
$s-services-doc5-offset-y: -77px;
$s-services-doc5-width: 87px;
$s-services-doc5-height: 75px;
$s-services-doc5-total-width: 576px;
$s-services-doc5-total-height: 478px;
$s-services-doc5-image: '../img/png-sprite.png';
$s-services-doc5: (205px, 77px, -205px, -77px, 87px, 75px, 576px, 478px, '../img/png-sprite.png', 's-services-doc5', );
$s-services-doc6-name: 's-services-doc6';
$s-services-doc6-x: 205px;
$s-services-doc6-y: 0px;
$s-services-doc6-offset-x: -205px;
$s-services-doc6-offset-y: 0px;
$s-services-doc6-width: 95px;
$s-services-doc6-height: 75px;
$s-services-doc6-total-width: 576px;
$s-services-doc6-total-height: 478px;
$s-services-doc6-image: '../img/png-sprite.png';
$s-services-doc6: (205px, 0px, -205px, 0px, 95px, 75px, 576px, 478px, '../img/png-sprite.png', 's-services-doc6', );
$s-social-fb-name: 's-social-fb';
$s-social-fb-x: 524px;
$s-social-fb-y: 260px;
$s-social-fb-offset-x: -524px;
$s-social-fb-offset-y: -260px;
$s-social-fb-width: 9px;
$s-social-fb-height: 18px;
$s-social-fb-total-width: 576px;
$s-social-fb-total-height: 478px;
$s-social-fb-image: '../img/png-sprite.png';
$s-social-fb: (524px, 260px, -524px, -260px, 9px, 18px, 576px, 478px, '../img/png-sprite.png', 's-social-fb', );
$s-social-rss-name: 's-social-rss';
$s-social-rss-x: 558px;
$s-social-rss-y: 226px;
$s-social-rss-offset-x: -558px;
$s-social-rss-offset-y: -226px;
$s-social-rss-width: 15px;
$s-social-rss-height: 15px;
$s-social-rss-total-width: 576px;
$s-social-rss-total-height: 478px;
$s-social-rss-image: '../img/png-sprite.png';
$s-social-rss: (558px, 226px, -558px, -226px, 15px, 15px, 576px, 478px, '../img/png-sprite.png', 's-social-rss', );
$s-social-tw-name: 's-social-tw';
$s-social-tw-x: 555px;
$s-social-tw-y: 150px;
$s-social-tw-offset-x: -555px;
$s-social-tw-offset-y: -150px;
$s-social-tw-width: 16px;
$s-social-tw-height: 14px;
$s-social-tw-total-width: 576px;
$s-social-tw-total-height: 478px;
$s-social-tw-image: '../img/png-sprite.png';
$s-social-tw: (555px, 150px, -555px, -150px, 16px, 14px, 576px, 478px, '../img/png-sprite.png', 's-social-tw', );
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 524px;
$s-social-vk-y: 247px;
$s-social-vk-offset-x: -524px;
$s-social-vk-offset-y: -247px;
$s-social-vk-width: 20px;
$s-social-vk-height: 11px;
$s-social-vk-total-width: 576px;
$s-social-vk-total-height: 478px;
$s-social-vk-image: '../img/png-sprite.png';
$s-social-vk: (524px, 247px, -524px, -247px, 20px, 11px, 576px, 478px, '../img/png-sprite.png', 's-social-vk', );
$spritesheet-width: 576px;
$spritesheet-height: 478px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-arrow-next, $s-footer-mail, $s-footer-pin, $s-footer-tel, $s-footer-time, $s-manager-icq, $s-manager-skype, $s-map-email, $s-map-pin, $s-map-tel, $s-map-tel2, $s-map-time, $s-procedure-done, $s-procedure-next, $s-procedure-step1, $s-procedure-step2, $s-procedure-step3, $s-procedure-step4, $s-search-blue, $s-search-white, $s-services-branch1, $s-services-branch10, $s-services-branch11, $s-services-branch12, $s-services-branch13, $s-services-branch14, $s-services-branch15, $s-services-branch16, $s-services-branch17, $s-services-branch18, $s-services-branch19, $s-services-branch2, $s-services-branch3, $s-services-branch4, $s-services-branch5, $s-services-branch6, $s-services-branch7, $s-services-branch8, $s-services-branch9, $s-services-doc1, $s-services-doc2, $s-services-doc3, $s-services-doc4, $s-services-doc5, $s-services-doc6, $s-social-fb, $s-social-rss, $s-social-tw, $s-social-vk, );
$spritesheet: (576px, 478px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
