mixin advantages-facts()

  +b.SECTION.advantages-facts
    .container
      .row
        +b.fact.col-xs-12.col-md-6.col-xl-4
          +e.inner
            | Мы работаем более&nbsp;
            strong.strong 17 лет&ensp;
            | в сфере сертификации
        +b.fact.col-xs-12.col-md-6.col-xl-4
          +e.inner
            | Каждый месяц мы обрабатываем
            strong.strong более 500 заявок&ensp;
        +b.fact.col-xs-12.col-md-6.col-xl-4
          +e.inner
            strong.strong Более 90% заказчиков&ensp;
            | становятся постоянными клиентами
        +b.fact.col-xs-12.col-md-6.col-xl-4
          +e.inner
            | Требуется всего&ensp;
            strong.strong 15 минут,&ensp;
            | чтобы подготовить лучшее предложение для клиента
        +b.fact.col-xs-12.col-md-6.col-xl-4
          +e.inner
            | В перечне наших услуг
            strong.strong 48&ensp;
            | различных разрешительных
            strong.strong документов&ensp;
            | для компаний
        +b.fact.col-xs-12.col-md-6.col-xl-4
          +e.inner
            strong.strong 0 рублей&nbsp;
            | стоит отправка документов в любую точку страны.


