mixin advantages()

  +b.SECTION.advantages
    .container
      +e.H2.title Севтест выбирают, потому что:

      +e.banner
        +e.UL.list
          +e.LI.item--active
            +b.A.choise-link(href="#choise1") У нас есть свой сертификационный центр
            +e.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise2") У нас есть свой сертификационный центр
            +e.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise3") У нас есть свой сертификационный центр
            +e.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise4") У нас есть свой сертификационный центр
            +e.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise5") У нас есть свой сертификационный центр
            +e.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
        +e.img-wrapper
          +e.img(id="choise1")
            img(src="img/choice.jpg", alt="")
          +e.img(id="choise2")
            img(src="img/news.png", alt="")
          +e.img(id="choise3")
            img(src="img/choice.jpg", alt="")
          +e.img(id="choise4")
            img(src="img/news.png", alt="")
          +e.img(id="choise5")
            img(src="img/choice.jpg", alt="")

      .row.row-xs-center
        +b.fact.col-xs-12.col-lg-3
          +e.inner
            | Мы работаем более&nbsp;
            strong.strong 17 лет&ensp;
            | в сфере сертификации
        +b.fact.col-xs-12.col-lg-3
          +e.inner
            | Каждый месяц мы обрабатываем
            strong.strong более 500 заявок&ensp;
        +b.fact.col-xs-12.col-lg-3
          +e.inner
            strong.strong Более 90% заказчиков&ensp;
            | становятся постоянными клиентами
        +b.fact.col-xs-12.col-lg-3
          +e.inner
            | Требуется всего&nbsp;
            strong.strong 15 минут,&ensp;
            | чтобы подготовить лучшее предложение для клиента
        +b.fact.col-xs-12.col-lg-3
          +e.inner
            | В перечне наших услуг
            strong.strong 48&ensp;
            | различных разрешительных
            strong.strong документов&ensp;
            | для компаний
        +b.fact.col-xs-12.col-lg-3
          +e.inner
            strong.strong 0 рублей&nbsp;
            | стоит отправка документов в любую точку страны.

      +e.btn
        span Остались вопросы?
        +b.btn(href="#", data-form="question") Обращайтесь
