mixin advantages-facts()

  +b.SECTION.advantages-facts
    .container
      .row
        +b.fact.col-xs-12.col-xs-4
          | Мы работаем более
          strong.strong 17 лет
          | в сфере сертификации
        +b.fact.col-xs-12.col-xs-4
          | Каждый месяц мы обрабатываем
          strong.strong более 500 заявок
        +b.fact.col-xs-12.col-xs-4
          strong.strong Более 90% заказчиков
          | становятся постоянными клиентами
        +b.fact.col-xs-12.col-xs-4
          | Требуется всего
          strong.strong 15 минут,
          | чтобы подготовить лучшее предложение для клиента
        +b.fact.col-xs-12.col-xs-4
          | В перечне наших услуг
          strong.strong 48
          | различных разрешительных
          strong.strong документов
          | для компаний
        +b.fact.col-xs-12.col-xs-4
          strong.strong 0 рублей
          | стоит отправка документов в любую точку страны.


