mixin advantages()

  +b.SECTION.advantages
    .container
      +e.H2.title Севтест выбирают, потому что:

      +e.banner
        +e.UL.list
          +e.LI.item
            +b.A.choise-link(href="#choise1")
              +e.H3.title У нас есть свой сертификационный центр
              +e.P.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise2")
              +e.H3.title У нас есть свой сертификационный центр
              +e.P.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise3")
              +e.H3.title У нас есть свой сертификационный центр
              +e.P.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise4")
              +e.H3.title У нас есть свой сертификационный центр
              +e.P.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
          +e.LI.item
            +b.A.choise-link(href="#choise5")
              +e.H3.title У нас есть свой сертификационный центр
              +e.P.text Благодаря чему в процессе оформления разрешительной документации нашим специалистам не требуется обращаться в сторонние компании – это значительно экономит нашим клиентам время и деньги.
        +e.img-wrapper
          +e.img(id="choise1")
            img(src="img/choice.jpg", alt="")
          +e.img(id="choise2")
            img(src="img/news.png", alt="")
          +e.img(id="choise3")
            img(src="img/choice.jpg", alt="")
          +e.img(id="choise4")
            img(src="img/news.png", alt="")
          +e.img(id="choise5")
            img(src="img/choice.jpg", alt="")

      .row
        +b.fact.col-xs-12.col-xs-4
          | Мы работаем более
          strong.strong 17 лет
          | в сфере сертификации
        +b.fact.col-xs-12.col-xs-4
          | Каждый месяц мы обрабатываем
          strong.strong более 500 заявок
        +b.fact.col-xs-12.col-xs-4
          strong.strong Более 90% заказчиков
          | становятся постоянными клиентами
        +b.fact.col-xs-12.col-xs-4
          | Требуется всего
          strong.strong 15 минут,
          | чтобы подготовить лучшее предложение для клиента
        +b.fact.col-xs-12.col-xs-4
          | В перечне наших услуг
          strong.strong 48
          | различных разрешительных
          strong.strong документов
          | для компаний
        +b.fact.col-xs-12.col-xs-4
          strong.strong 0 рублей
          | стоит отправка документов в любую точку страны.

      +e.btn
        span Остались вопросы?
        +e.link(href="#") Обращайтесь
