mixin clients(title)

  +b.SECTION.clients
    .container
      +e.H2.title #{title}
      +e.gallery
        - for (var i = 0; i< 2; i++){
          +e.slide
            +e.logo
              +e.IMG.img(src="img/logo-index/01.png", alt="")
          +e.slide
            +e.logo
              +e.IMG.img(src="img/logo-index/02.png", alt="")
          +e.slide
            +e.logo
              +e.IMG.img(src="img/logo-index/03.png", alt="")
        - }
      +e.btn
        +e.link(href="#") Присоединиться к списку


