mixin docs()

  +b.SECTION.docs
    .container
      +e.H2.title У нас оформляют
      .row
        - for (var i = 0; i< 6; i++){
          +b.doc-item.col-xs-12.col-lg-2
            +e.wrapper
              +e.IMG.img(src="img/doc.png", alt="document")
              +e.text-wrapper
                +e.H3.title Сертификат пожарной безопасности
                +e.time Оформление от 2 дней
                +e.links
                  +e.link(href="single.html") Зачем нужен?
                  +e.link(href="single.html") Что предоставить?
                  +b.A.btn(href="#", data-form="application") Рассчитать стоимость
        - }
        .col-xs-12
          +e.link(href="#") Смотреть все
