mixin faq()

  +b.SECTION.faq
    .container
      +e.H2.title Часто задаваемые вопросы

      +e.gallery
        +e.item
          +e.question Я планирую открыть мини-пекарню. Могу ли я выпускать и реализовывать свою продукцию без сертификата, а если это можно, то в какие сроки мне необходимо сертифицировать своё производство и реализацию?
          +e.answer Продажа в РФ может быть осуществлена только при наличии всей необходимой документации. Вам следует получить Свидетельство о госрегистрации продукции и декларацию соответствия. Всё это можно оформить в нашем центре.

      +e.btn
        +e.link(href="#") Посмотреть все






