mixin news()

  +b.SECTION.news
    .container
      +e.H2.title Новости отрасли:
      .row
        - for (var i = 0; i< 6; i++){
          +b.news-item.col-xs-12.col-lg-4
            +e.date 29.06.16
            +e.title Зимние горки будут сертифицироваться на основании нового государственного стандарта
            +e.text Руководитель Федерального агентства по техническому регулированию и метрологии (Росстандарт) Алексей Абрамов подписал приказ, согласно которому с 1 марта 2017 года в силу вступает национальный стандарт  Российской  Федерации  ГОСТ Р «Безопасность устройств для развлечений. Горки зимние. Требования безопасности при эксплуатации» (ГОСТ Р 56987-2016). Данный документ будет использоваться с целью проведения добровольной сертификации подконтрольных сооружений.
        - }
      +e.btn
        +e.link(href="#") Посмотреть все

