mixin reglaments()

  +b.SECTION.reglaments
    .container
      +e.H2.title Скачать действующие регламенты ТР ТС
      +e.text
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae sapiente at minus repellendus ab cumque soluta numquam, saepe ipsa, minima molestias rem magni praesentium.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae sapiente at minus repellendus ab cumque soluta numquam, saepe ipsa, minima molestias rem magni praesentium.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae sapiente at minus repellendus ab cumque soluta numquam, saepe ipsa, minima molestias rem magni praesentium.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae sapiente at minus repellendus ab cumque soluta numquam, saepe ipsa, minima molestias rem magni praesentium.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae sapiente at minus repellendus ab cumque soluta numquam, saepe ipsa, minima molestias rem magni praesentium.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quae sapiente at minus repellendus ab cumque soluta numquam, saepe ipsa, minima molestias rem magni praesentium.
