mixin reviews()

  +b.SECTION.reviews
    .container
      +e.H2.title Отзывы

      +e.UL.list
        +e.item
          +e.img-wrapper
            img(src="", alt="")
          +e.text-wrapper
            +e.H3.heading Огромное спасибо
            +e.text Ответом удовлетворен Все вежливо и культурно Большое спасибо! Хотя считаю что, когда существовали госты было все намного качественней и надежней, никакого сравнения с ту и всякими сертификатами еще раз большое спасибо с уважением Иван Михайлович
        +e.item
          +e.img-wrapper
            img(src="", alt="")
          +e.text-wrapper
            +e.H3.heading Огромное спасибо
            +e.text Ответом удовлетворен Все вежливо и культурно Большое спасибо! Хотя считаю что, когда существовали госты было все намного качественней и надежней, никакого сравнения с ту и всякими сертификатами еще раз большое спасибо с уважением Иван Михайлович

      +e.btn
        +e.link(href="#") Посмотреть все


