mixin russia-map()

  +b.SECTION.russia-map
    .container
      +e.H2.title К нам обращаются клиенты по всей России

      +e.map
        +e.pins

      +e.btn
        +e.link(href="page-clients.html") Присоединиться к списку

