<section class="map">
  <div class="container">
    <h2 class="map__title">Как нас найти</h2>
    <div class="map-city" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
      <div class="map-city__column">
        <a class="map-city__name" href="#" itemprop="areaServed">Санкт-Петербург</a>
        <div class="map-city__address">ул. Яблочкова, д. 12, лит. Ц., оф. 314</div>
        <div class="map-city__working-hours">с 9:30 до 18:00</div>
      </div>
      <div class="map-city__column">
        <div class="map-city__tel-wrapper">
          <a class="map-city__tel" href="tel:+78124935927" target="_blank" itemprop="telephone">+7 (812) 493-59-27</a>
          <a class="map-city__tel" href="tel:+78129512642" target="_blank" itemprop="telephone">+7 (812) 951-26-42</a>
        </div>
        <div class="map-city__email-wrapper">
          <a class="map-city__email" href="mailto:otdel@rostest.net" target="_blank" itemprop="email">spb@sevtest.ru</a>
        </div>
      </div>
    </div>
  </div>
  <div class="map__frame" data-lat="59.907936" data-lng="30.300848"></div>
</section>